@model SharingService.ViewModels.UserConfiguration;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PlayFab JavaScript Unit Tests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script type="text/javascript" src="https://download.playfab.com/PlayFabClientApi.js"></script>
</head>
<body>
    <div class="container text-center">
        <p>Welcome, @Model.User.UserName!</p>

        <div class="row g-2">
        @foreach (var anchor in @Model.UserAnchors)
        {
            <div class="col-4">
                <div class="p-3 border bg-light">
                    <p>Anchor Name: @anchor.AnchorName</p> 
                    <p>Anchor Description: @anchor.AnchorDescription</p>
                </div>
            </div>
        }
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>